<html>
  <head>
    <title>Matomo demo with JS Tracking</title>
  </head>
  <body>
    <h1>Matomo demo with JS Tracking</h1>
    <p><strong>IP:</strong> {{ ip }}</p>
    <p><strong>Is secure?:</strong> {{ is_secure }}</p>

    <!-- Matomo -->
    <script type="text/javascript">
      var _paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//localhost:8000/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '{{ matomo_site_id }}']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->
  </body>
</html>
